.mother {
    background-image: url(../images/cover.jpeg); height: 1190px;
}

.burger {
    height: 570px;
}

.sister {
    
    text-align: center;
    color: white;
    font-size: 150px;
    margin-bottom: 40px;
}

.brother {
    text-align: center;
    color: white;
    font-size: 30px;
   
}

.blue {
    margin-top: 80px;
    color:#8ccbea;
    margin-left: 80px;
}

.window {
    margin-left: 80px;
}

.information {
    margin-left: 80px;
}

.go {
    border-radius: 15px;
    border: solid 2px;
    text-align: left;
    height: 30px;
    width: 100px;
    color:#f26002;
    margin-left: 80px;
    text-align: center;

}

.reasons {
    font-family: RobotoSlab;
    font-size: 24px;
    text-align: center;
}

.ice {
    background-color:rgb(244, 248, 255); 
}

.orange {
    background-color: #f26002;
    border-radius: 20px;
    color:white;
    text-align: center;
    height: 40px;
    width: 20%;
    font-size: 25px;
    
    
}

.social {
    margin-left: 80px;
    
}
.footer {
    background-color: #304268;
    height: 300px;
    color: white;
}

