.mother {
    background-image: url(../images/cover.jpeg);
    background-position: center;
    background-size: cover;
}

.burger {
    background-color: #0946c8;
}

.down {
    text-align: center;
}
.sister {
    margin-top: 400px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.brother {
    text-align: center;
    color: white;
    font-size: 16px;
}

.blue {
    margin-top: 60px;
    color:#8ccbea;
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 14px;
}

.window {
    margin-left: 20px;
    font-family: RobotoSlab;
    
}

.information {
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.go {
    border-radius: 15px;
    border: solid 2px;
    text-align: left;
    height: 40px;
    width: 70px;
    color:#f26002;
    margin-left: 20px;
    text-align: center;
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

 .ice {
    background-color: rgb(225, 235, 251);
  }

  .reasons {
    text-align: center;
    padding-top: 30px;

  }

  .box1 {
   text-align: center;
    margin-top: 30px;
  }

  .box2 {
    text-align: center;
    margin-top: 50px;
  }

  .box3 {
    text-align: center;
    margin-top: 50px;
  }

.button {
    background-color:rgb(244, 248, 255); 
}

.orange {
    background-color: #f26002;
    border-radius: 20px;
    color:white;
    text-align: center;
    height: 40px;
   font-size: 25px;
   width: 50%;
   margin-top: 40px;
   margin-left: 25%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.arrow {
   text-align: center;
   margin-top: 30px;
}

.push {
    background-color: white;
    color: white;
    border: solid 10px;
    border-radius: 100px;

}
 
.footer {
    background-color: #304268;
    height: 600px;
    font-size: 20px;
    color: white;
} 
 
.complements {
    margin-left: 40px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.social {
    margin-top: 50px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}


.love {
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
}
