.mother {
    background-image: url(../images/cover.jpeg);
    background-position: center;
    background-size: cover;
    height: 800px;
}
 
.down {
    text-align: center;
     color: white;
}
 
.family {
color: white;
font-size: 30px;
text-align: center;
margin-top: 80%;
font-family: "Roboto Slab", serif;

}

.paragraph {
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10%;  

}
   
.blue {
    margin-top: 50px;
    color:#8ccbea;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-family: 14px;
}

.window {
    margin-left: 20px;
    font-family: "Roboto Slab", serif;  
}

.information {
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.go {
    border-radius: 15px;
    border: solid 2px;
    text-align: left;
    height: 40px;
    width: 70px;
    color:#f26002;
    margin-left: 20px;
    text-align: center;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
 }

 .ice {
    background-color: rgb(225, 235, 251);
  }

  .reasons {
    text-align: center;
    padding-top: 30px;
    font-family: "Roboto Slab", serif;
}

.tittle1 {
    font-family: "Roboto Slab", serif;
}

.tittle2 {
    font-family: "Roboto Slab", serif;
}

.tittle3 {
    font-family: "Roboto Slab", serif;
}

  .box1 {
   text-align: center;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
  }

  .box2 {
    text-align: center;
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
  }

  .box3 {
    text-align: center;
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
  }

.button {
    background-color:rgb(244, 248, 255); 
}

.orange {
    background-color: #f26002;
    border-radius: 20px;
    color:white;
    text-align: center;
    height: 40px;
   font-size: 25px;
   width: 50%;
   margin-top: 40px;
   margin-left: 25%;
   font-family: "Roboto", sans-serif;
}

.arrow {
   text-align: center;
   margin-top: 30px;
}
 
 
.footer {
    background-color: #304268;
    height: 600px;
    font-size: 20px;
    color: white;
} 
 
.complements {
    margin-left: 40px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.social {
    margin-top: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: white;
}
 
.love {
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
